<a href="https://colab.research.google.com/github/JuanGranados09/SE-ALES-Y-SISTEMAS/blob/main/Copia_de_1_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Cuaderno 1 - Ejercicios Python
## Juan Andres Granados Garzon 2024-1S
#Introduction to Python Notebooks - Google Colab

En Python, no es necesario declarar el tipo de datos de las variables como en otros lenguajes de programación. Cuando asigna un valor a una variable, Python determina automáticamente su tipo de datos en función del valor asignado. Sin embargo, los tipos de datos básicos en Python son los siguientes:

1. Entero (int): representa números enteros sin decimales, como 5, -10 o 0.

2. Flotante: representa números con puntos decimales, como 3,14, -2,5 o 0,0.

3. Cadena (cadena): representa una secuencia de caracteres entre comillas simples ('') o dobles (""). Por ejemplo, "¡Hola mundo!" o 'Python'.

4. Booleano (bool): representa Verdadero o Falso. Se utiliza para operaciones lógicas y declaraciones condicionales.

5. Lista: representa una colección ordenada de elementos encerrados entre corchetes ([]). Las listas pueden contener elementos de diferentes tipos de datos y son mutables (modificables).

6. Tupla: similar a las listas, las tuplas también son colecciones ordenadas de elementos, pero están entre paréntesis (()). Las tuplas son inmutables (no se pueden modificar).

7. Diccionario (dict): representa una colección de pares clave-valor encerrados entre llaves ({}). Cada valor está asociado con una clave única, lo que permite una rápida recuperación de los valores.

8. Conjunto: representa una colección desordenada de elementos únicos encerrados entre llaves ({}). Los conjuntos son útiles para eliminar valores duplicados y realizar operaciones matemáticas de conjuntos.

In [4]:
a = 2  # Integer type
b = a + 3

f = 0.176  # Float type

condition = True  # Boolean type

s = "Hello"  # String type

In [6]:
type(a) #type function print the variable type

int

In [7]:
type(b)

int

In [8]:
type(f)

float

In [9]:
type(condition)

bool

In [10]:
type(s)

str

What happens if we add an int with a float?

In [11]:
x = b + f
x

5.176

In [ ]:
type(x)

float

Another handy tool is the ability to convert data types.
For instance, by converting x to an integer, we obtain only its integer part.

In [12]:
x2 = int(x) #variable casting
x2

5

In [ ]:
type(x2)

int

For boolean variables, their representation as integers can be useful for certain applications. The correspondence is as follows:

True $\neq$ 0 (More commonly represented as 1)

False = 0

In [13]:
condicion_int = int(condition)
condicion_int

1

In [14]:
c = 5
condicion_2 = bool(c)
condicion_2

True

In [15]:
c = 0
condicion_2 = bool(c)
condicion_2

False

Two of the main commands used to interact with the console are: print() and input().

The print() command allows us to display variables as well as the text that is provided as an argument on the screen.

In [ ]:
print("This is the message to be printed.\nIn this case, it has two lines.") #\n print a new line

This is the message to be printed.
In this case, it has two lines.

In [ ]:
print(b)

5

In [ ]:
print(condition)

True

On the other hand, the input() command can also display a message on the screen, but it will be displayed before the input field where the value, which will be stored in a string variable, is entered.

In [ ]:
y = input("Input a number please: ")
y

Input a number please: 5

'5'

In [ ]:
type(y) #note that a str is captured, you need to privide a casting to convert it to a number if needed

str


Basic arithmetic operations:

In [ ]:
a = 2 + 4.5 + 3
b = a - 2.5 # . holds decimal operator
b

7.0

In [ ]:
a = 3*8 # Multiplication maintains the data type if it is an integer
b = a/6 # Division automatically converts it to a float even if it is exact
a, b

(24, 4.0)

In [ ]:
a = 2**2 # ** power operator
a

4

In [ ]:
b = 9**(1/2)
b

3.0


This is a way to calculate square roots without using any library.
In general, for more advanced calculations, numpy and sympy are commonly used.

## Exercises


1. Escriba un programa que muestre el resultado de la siguiente operación aritmética en la pantalla: $x(t) = \left(\frac{3+2}{2.5}\right)^2$

2. Escriba un programa que pregunte al usuario el número de horas trabajadas y la tarifa por hora. Luego, deberá mostrar en pantalla el pago correspondiente.

3. Escribe un programa que pregunte al usuario su peso (en kg) y altura (en metros), calcule el índice de masa corporal (IMC), lo almacene en una variable y muestre el mensaje "Tu índice de masa corporal es imc". en la pantalla, donde imc es el IMC calculado redondeado a dos decimales.

Developed by:

- Brian Patino Agudelo - bpatinoa@unal.edu.co

- Andrés Marino Álvarez Meza - amalvarezme@unal.edu.co

- César Germán Castellanos Domínguez - cgcastellanosd@unal.edu.co

SOLUCION EJERCICIO 1
Escriba un programa que muestre el resultado de la siguiente operación aritmética en la pantalla:  𝑥(𝑡)=(3+22.5)2

In [16]:
a = 5
b= a/2
c= a/b
d = c**2
print(d)

4.0

SOLUCION EJERCICO 2
Escriba un programa que pregunte al usuario el número de horas trabajadas y la tarifa por hora. Luego, deberá mostrar en pantalla el pago correspondiente.

In [21]:
a = float(input("INGRESE LA CANTIDAD DE HORAS TRABAJADAS"))
b = float(input("INGRESE LA TARIFA POR HORA TRABAJADA"))
c = a*b
print(c)

INGRESE LA CANTIDAD DE HORAS TRABAJADAS10
INGRESE LA TARIFA POR HORA TRABAJADA5000
50000.0

SOLUCION EJERCICIO 3 Escribe un programa que pregunte al usuario su peso (en kg) y altura (en metros), calcule el índice de masa corporal (IMC), lo almacene en una variable y muestre el mensaje "Tu índice de masa corporal es imc". en la pantalla, donde imc es el IMC calculado redondeado a dos decimales.

In [24]:
a = float(input("INGRESE SU PESO EN KG"))
b = float(input("INGRESE SU ALTURA EN METROS"))
c = a/b**2
print(c)

INGRESE SU PESO EN KG80
INGRESE SU ALTURA EN METROS178
0.002524933720489837