<a href="https://colab.research.google.com/github/JuanGranados09/SE-ALES-Y-SISTEMAS/blob/main/Copia_de_6_PythonDataTypesStructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

En Python, una lista es una estructura de datos que se utiliza para almacenar una colección ordenada de elementos. Se llama "lista" en inglés.

Las listas son muy versátiles ya que pueden contener elementos de diferentes tipos de datos, como números, cadenas, valores booleanos, objetos y otras listas. También se pueden modificar, lo que significa que se pueden agregar, eliminar o modificar elementos.

Para crear una lista en Python, se utilizan corchetes [].

In [ ]:
lista1 = ['Gerry',1,4.4,[0,2,3]]
lista1

['Gerry', 1, 4.4, [0, 2, 3]]

I can show this element by element:

In [ ]:
lista2 = lista1[1]
lista2

1

In [ ]:
lista2 = lista1[-1]
lista2

[0, 2, 3]

In [ ]:
lista2 = lista1[-1][2]
lista2

3

I can delete a element of my list:

In [ ]:
del lista1[1]
lista1

['Gerry', 4.4, [0, 2, 3]]

In [ ]:
#I can add a element in the list with command .append, for example:

lista1.append(4.5)
lista1

['Gerry', 4.4, [0, 2, 3], 4.5]

##**Tuplas**

En Python, una tupla es otro tipo de datos integrado que se utiliza para almacenar una colección de elementos.

Una tupla es similar a una lista en que puede almacenar objetos de diferentes tipos de datos, pero a diferencia de las listas, las tuplas son inmutables, lo que significa que no se pueden modificar una vez creadas.

Las tuplas generalmente se crean encerrando una secuencia de objetos separados por comas entre paréntesis ().


Por ejemplo, (1, 2, 'tres') es una tupla que contiene un número entero, otro número entero y una cadena. Las tuplas se utilizan a menudo para datos fijos que no es necesario cambiar, como una colección de constantes o un conjunto de coordenadas en un plano de coordenadas.

In [ ]:
Tuple = (1,2,3,4,5)
Tuple

(1, 2, 3, 4, 5)

In [ ]:
Tuple[0]

1

In [ ]:
Tuple[0]=4 #you cannot modified it!

TypeError: ignored

##**Conjuntos**

En Python, un conjunto es un tipo de datos integrado que se utiliza para almacenar una colección desordenada de elementos únicos. Es similar a una lista o una tupla, pero a diferencia de esos tipos de datos, un conjunto no puede contener valores duplicados.

Los conjuntos se crean usando llaves {} o usando la función set(). Por ejemplo, el siguiente código crea un conjunto de números enteros:

In [ ]:
my_set = {1, 2, 3, 4,5,5,3} #you cannot store the 5 twice in a set!
my_set

{1, 2, 3, 4, 5}

Los conjuntos también se pueden utilizar para realizar operaciones matemáticas de conjuntos como unión, intersección y diferencia.

Por ejemplo, dados dos conjuntos set1 = {1, 2, 3} y set2 = {2, 3, 4}, la unión de los dos conjuntos se puede obtener usando el método | operador:

In [ ]:
set1={1,2,3,4,8}
set2={2,3,4}

union_set = set1 | set2
union_set

{1, 2, 3, 4, 8}

Similarly, the intersection of the two sets can be obtained using the & operator:

In [ ]:
intersection_set = set1 & set2
intersection_set

{2, 3, 4}

And the difference of the two sets can be obtained using the - operator:

In [ ]:
difference_set = set1 - set2
difference_set

{1, 8}

##**Diccionarios**

En Python, un diccionario es una estructura de datos incorporada que se utiliza para almacenar una colección de pares clave-valor. A veces se le denomina matriz asociativa, tabla hash o mapa.

Un diccionario se crea usando llaves {} y cada par clave-valor está separado por dos puntos (:). Por ejemplo, el siguiente código crea un diccionario de artículos y sus precios.

In [ ]:
prices = {'apple':0.5,'banana': 0.25, 'orange': 0.75}
prices

prices['orange']=1

prices

{'apple': 0.5, 'banana': 0.25, 'orange': 1}

En este ejemplo, "manzana", "plátano" y "naranja" son claves, y 0,5, 0,25 y 0,75 son sus valores correspondientes. Las claves de un diccionario deben ser únicas e inmutables, mientras que los valores pueden ser de cualquier tipo de datos y pueden duplicarse.

Se puede acceder a los valores de un diccionario mediante sus claves correspondientes, como se muestra en el siguiente ejemplo:

In [ ]:
apple_price = prices['banana']
apple_price

0.25

Los diccionarios son útiles cuando necesita almacenar y recuperar valores por una clave específica en lugar de por su posición en una secuencia. Se utilizan comúnmente para representar asignaciones entre elementos, como el nombre de una persona y su información de contacto, o una palabra y su definición.

In [ ]:
prices['banana']

0.25

##**Ejemplo**

Escriba una función que tome una lista de números como entrada y devuelva una lista que contenga solo los números únicos de la lista original. Por ejemplo, si la entrada es [1, 2, 3, 2, 4, 3, 5], la función debería devolver [1, 2, 3, 4, 5].

In [ ]:
def unique_numbers(nums):
    return list(set(nums))#

# Example usage
nums = [1, 2, 3, 2, 4, 3, 5]
print(unique_numbers(nums))

[1, 2, 3, 4, 5]

##**Ejemplo**

Escriba una función que tome un diccionario como entrada y devuelva una lista de valores únicos en el diccionario. Por ejemplo, si el diccionario es {'a': 1, 'b': 2, 'c': 1, 'd': 3}, la función debería devolver [1, 2, 3].

In [17]:
def ex2 (d):
  lista = []
  for i in d:
    if d[i] not in lista:
      lista.append(d[i])
  return lista

dicc ={'a': 1, 'b': 2, 'c': 1, 'd': 3}
lis = ex2(dicc)
lis

[1, 2, 3]

##**Ejercicio 1**

Escriba una función que tome una lista de números como entrada y devuelva la suma de todos los números impares de la lista. Por ejemplo, si la entrada es [1, 2, 3, 4, 5, 6], la función debería devolver 9 (que es la suma de 1, 3 y 5).

In [21]:
def suma_impares(lista):
    suma = 0
    for i in lista:
        if i % 2 != 0:
            suma += i
    return suma


numeros = [1, 2, 3, 4, 5, 6, 13, 15, 19, 18, 17]
resultado = suma_impares(numeros)
print(resultado)

73

##**Ejercicio 2**
Escriba una función que tome una lista de palabras como entrada y devuelva un diccionario que cuente el número de veces que aparece cada palabra en la lista. Por ejemplo, si la entrada es ['manzana', 'plátano', 'manzana', 'cereza', 'cereza', 'cereza'], la función debería devolver {'manzana': 2, 'plátano': 1, 'cereza': 3}.

In [22]:
def contar_palabras(lista):
    conteo = {}
    for i in lista:
        if i in conteo:
            conteo[i] += 1
        else:
            conteo[i] = 1
    return conteo

# Ejemplo de uso:
palabras = ['manzana', 'plátano', 'manzana', 'cereza', 'cereza', 'cereza']
resultado = contar_palabras(palabras)
print(resultado)

{'manzana': 2, 'plátano': 1, 'cereza': 3}

Developed by:

- Brian Patino Agudelo - bpatinoa@unal.edu.co

- Andrés Marino Álvarez Meza - amalvarezme@unal.edu.co

- César Germán Castellanos Domínguez - cgcastellanosd@unal.edu.co